.card.is-horizontal
    display: flex

    .card-image
      width: 100%
      height: 100%

    .card-stacked
      flex-direction: column
      flex: 1 1 auto
      display: flex
      position: relative

    .card-content
        flex-grow: 1
