{{ define "main" }}
  <div class="container">
      <div class="content">
        <h1>{{ .Title }} | {{.Params.show}} {{.Params.episode}}</h1>
        <strong>{{ .Date.Day }}  {{ .Date.Month }} {{ .Date.Year }}</strong><br/>
        {{ partial "episode/videoplayer.html" . }}

        {{ with .Params.tags }}
          <div class="tags">
            {{ partial "episode/tags.html" . }}
          </div>
        {{ end }}


        {{ .Description }}

        {{ partial "episode/audioplayer.html" . }}

        {{ partial "episode/support.html" . }}
        {{ .Content }}


        <h2>Hosts</h2>

        <section class="section host-list">
          <div class="container">
             <div class="columns is-multiline">
              {{ range $index, $hostname := .Params.hosts }}
                {{ $host := index $.Site.Data.hosts $hostname }}
                  <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                    {{ partial "hosts/small.html" (dict "context" . "host" $host) }}
                  </div>
              {{ end }}
            </div>
          </div>
        </section>

        {{ with .Params.guests }}

          <h2>Guests</h2>

          <section class="section sponsor-list">
            <div class="container">
               <div class="columns is-multiline">
                {{ range $index, $guestname := . }}
                  {{ $guest := index $.Site.Data.guests $guestname }}
                    <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                      {{ partial "guests/small.html" (dict "context" . "guest" $guest) }}
                    </div>
                {{ end }}
              </div>
            </div>
          </section>


        {{ end }}


      {{ with .Params.sponsors }}

        <h2>Sponsors</h2>

        <section class="section sponsor-list">
          <div class="container">
             <div class="columns is-multiline">
              {{ range $index, $sponsorname := . }}
                {{ $sponsor := index $.Site.Data.sponsors $sponsorname }}
                  <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                    {{ partial "sponsor/small.html" (dict "context" . "sponsor" $sponsor) }}
                  </div>
              {{ end }}
            </div>
          </div>
        </section>


      {{ end }}


    </div>
  </div>
{{end}}
